@font-face {
  font-family: 'GOST UI 2';
  src: url('~@/assets/fonts/GOSTUI2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GOST UI 2';
  src: url('~@/assets/fonts/GOSTUI2-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
