@import 'fonts';

$font-family-sans-serif: 'GOST UI 2', sans-serif;
$body-bg: #d0d0d0;
$primary: #d63a36;

@import '~axios-progress-bar/dist/nprogress.css';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
